body {
    background-color:#f7f7f7;
}

#RegistrationFormLayout {
    background-color: white;
    padding: 40px 50px;
    margin-top: 20px;
}
    #RegistrationFormLayout #RegistrationForm{
        padding-top:0;
        padding-left:40px;
    }

    #RegistrationFormLayout #RegistrationForm h3{
       padding-left:15px;
        margin:0;
        margin-bottom:20px;
        font-size:28px;
        font-weight:bold;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

        #RegistrationFormLayout #RegistrationForm input[type="text"]
        {
           background:none;
           border:none;
           box-shadow:none;
           outline:none;
           border-bottom:1px solid #ddd;

        }


        #RegistrationFormLayout #RegistrationForm.input-group-addon {
            background: none;
            border: none;
            box-shadow: none;
            outline: none;
            border-bottom: 1px solid #ddd;
            padding:0px;
            padding-left:5px;

        }

        #RegistrationFormLayout #RegistrationForm input[type="submit"]
        {
            background-color:darkblue;
            border-radius:50px;
            height:40px;
            width:100px;
        }

        #RegistrationFormLayout #RegistrationForm input[type="submit"]:hover{
            background-color:forestgreen;
        }